{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.username == username and not listing.open %}
    <h1>You Won!</h1>
    {% endif %}
    {% if user.is_authenticated and user.id == listing.user.id and listing.open %}
        <form method="GET" action="{% url 'edit' listing.id %}">
            <input type="submit" value="Edit Listing">     
        </form>
        <form method="POST" action="{% url 'delete' listing.id%}">
            {% csrf_token %}
            <input type="submit" value="Delete Listing">
        </form>
        <form method="POST" action="{% url 'close' listing.id %}">
            {% csrf_token %}
            <input type="submit" value="Close Lising">
        </form> 
    {% endif %}
    <h4>Created by: {{ listing.user.username }}</h4>    
    <h4>{{ listing.name }}</h4>
    <h4>{{ listing.category }}</h4>
    {% if bid %}
        <h4>Current Bid: ${{ bid }}</h4>
        <h4>Bid by: {{ username }}</h4>
    {% else %}
        <h4>Starting Bid: ${{ listing.bid_start }}</h4>
    {% endif %}
    {% if user.is_authenticated and listing.open %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Make Bid">
        </form>
        {% if watchlist %}
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="del_watch" value="True">
                <input type="submit" value="Delete from Watchlist">
            </form>
        {% else %}
            <form method ="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="add_watch" value="True">
                <input type="submit" value="Add to Watchlist">
            </form>
        {% endif %}
    {% endif %}
    <img src="{{ listing.image_url }}" alt="Listing image" width="400px">
    <div><span>{{ listing.description }}</span></div>
    <div>
        {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ form_comment.as_p }}
                <input type="submit" value="Comment!">
            </form>
        {% endif %}
    </div>
    <div>
        {% if comments %}
        <h4>Comments:</h4>
        <hr>
            {% for comment in comments %}
                <p>{{ comment.comment }} by {{ comment.user }} on {{ comment.date|timesince }} ago</p>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}