{% extends "auctions/layout.html" %}

{% block body%}
    <h2>Your Watchlist!</h2>
    <hr>
    <ul>
        {% for context in context %}
            {% with listing=context.listing %}     
                <li>
                    <div><h4>{{ listing.name }}</h4></div>
                    <div><h4>Category: {{ listing.category }}</h4></div>
                    {% with bids=listing.listing_bids.all|first %}
                        {% if bids %}
                            <h4>Current Bid: ${{ bids.bid_value }}.</h4>
                        {% else %} 
                            <div><h4>Starting Bid: ${{ listing.bid_start }}</h4></div>
                        {% endif %}
                    {% endwith %}
                    <div><a href="{% url 'listing' listing.id %}"><img src="{{ listing.image_url }}" alt="image of listing" width="400"></a></div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}